node_modules/
.yarn_lock

node_modules
yarn.lock

/dist
/database
.env
.env.prod

logs/*
!logs/.gitkeep
.pglite/
*.bak
.tool-versions
bun.lockb

compose.yaml
docker-compose.yaml
coverage/

admin-seed.ts
